%header
  %nav.green
    %ul.no-list.no-padding.text-center
      %li.col-md-4.inline-block
      %li.col-md-4.inline-block.text-center
        =image_tag "logoch.png",height:"25px"
      %li.col-md-4.inline-block